<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Engine.Properties.Settings.engineConnectionString" connectionString="data source=D:\Projects\C#\ShanoRPG\engine.db" providerName="System.Data.SQLite"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
